{% extends 'base.html'  %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="container">
        <p class="h1">Olá, {{ usuario.get_full_name }}!</p>
        <p class="p">Será gerada uma cobrança para o cpf: <strong>{{ cpf }}</strong>. Assim que o pagamento for
            confirmado, o seu plano será atualizado.</p>
        <img class="col" width="300" height="300" src="data:image/jpeg;base64,{{pagamento.qr_code64}}" alt="">
        <div class="col-xs-12 col-sm-12 mb-2">
            <label class="form-label">Copia e cola</label>
            <input disabled class="form-control" type="text" value="{{ pagamento.url }}"/>
        </div>
    </div>
</div>
{% endblock %}
