{% extends 'registration/base-auth.html' %}
{% load static %}
{% block content %}
<main class="form-signin">
    <h2>Alterar senha</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="password" name="old_password" class="form-control p-3" id="old_password_id">
            <label for="old_password_id" class="form-label">{{ form.old_password.label_tag }}</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="new_password1" class="form-control p-3" id="new_password1_id">
            <label for="new_password1_id" class="form-label">{{ form.new_password1.label_tag }}</label>
            <small id="" class="form-text">{{ form.new_password1.help_text }}</small>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="new_password2" class="form-control p-3" id="new_password2_id">
            <label for="new_password2_id" class="form-label">{{ form.new_password2.label_tag }}</label>
        </div>
        <button type="submit" class="btn btn-primary mb-3 p-3">Alterar senha</button>
    </form>
</main>
{% endblock %}